<%- include('partical/head'); %>
    <title>Organic Food | Contact</title>

    <body>
        <%- include('partical/header'); %>
            <div class="checkout-area pb-80 pt-100">
                <div class="container">
                    <div class="row">
                        <div class="ml-auto mr-auto col-lg-9">
                            <div class="checkout-wrapper">
                                <div id="faq" class="panel-group">
                                    <div class="panel panel-default single-my-account">
                                        <div id="my-account-1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <form action="/product/insert-product" method="POST">
                                                    <div class="myaccount-info-wrapper">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Name</label>
                                                                    <input type="text" id="Name" name="Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Price</label>
                                                                    <input type="text" id="Price" name="Price">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="billing-back-btn">
                                                            <div class="billing-back">
                                                                <a href="#"><i class="fa fa-arrow-up"></i> back</a>
                                                            </div>
                                                            <div class="billing-btn">
                                                                <button type="submit">Continue</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partical/footer'); %>
                <%- include('partical/scripts'); %>

    </body>

    </html>